AGENT_PRIVATE_KEY=0x
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
ROBINHOOD_TESTNET_RPC_URL=https://rpc.testnet.chain.robinhood.com
POLL_INTERVAL_MS=30000
GAS_PRICE_TARGET_RATIO=0.9
